<div class="center jumbotron">
	<h1>Welecome to twitter like app</h1>
	<h2>This is the home page for the twitter like app</h2>
	<%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-primary" %>
</div>
