<h1>Twitter like app</h1>
<p>こんにちは <%= @user.name %>さん</p> 
<p>もしパスワードを再設定したいならば、下のリンクをクリックしてください。</p>
<p>このリンクは二時間後に無効になります。</p>
<p>もしパスワード再設定のメールをリクエストしていなかったら、無視してくださいね。</p>
<%= link_to "Password resets", edit_password_reset_url(@user.reset_token, email: @user.email) %>